
/* login/signup popup */
html{
    overflow-x: hidden;
    position: relative;
    height: 100vh;
}
.popup-bg{
    position: absolute;
    z-index: 10;
    background-color: black;
    opacity: 0.7;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-top: 0;
    display: none;
}
.popup{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 70vh;
    margin: auto auto;
    z-index: 10;
    background-color: white;
    padding: 20px;
    grid-template-rows: 30px 50px;
    border-radius: 10px;
    display: none;
}
.login-body, .register-body{
    display: grid;
    margin-top: 20px;
}
.login-body{
    grid-template-rows: 30px 50px 30px 50px 70px;
}
.register-body{
    grid-template-rows: 30px 50px 30px 50px 30px 50px 70px;
}
.hide{
    display: none;
}

.login-body input,
.register-body input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.register-body button,
.login-body button{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.close{
    justify-self: end;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.popup-nav{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
}
.popup-nav-button{
    border:none;
    background-color: transparent;
    font-size: 18px;
    padding-bottom: 5px;
    cursor: pointer;
}
.nav-active{
    border-bottom: 2px solid black;
    font-weight: bold;
}
/* login/signup popup */
html{
    overflow-x: hidden;
    position: relative;
}
.popup-bg{
    position: absolute;
    z-index: 10;
    background-color: black;
    opacity: 0.7;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-top: 0;
    display: none;
}
.popup{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 70vh;
    margin: auto auto;
    z-index: 10;
    background-color: white;
    padding: 20px;
    grid-template-rows: 30px 50px;
    border-radius: 10px;
    display: none;
}
.login-body, .register-body{
    display: grid;
    margin-top: 20px;
}
.login-body{
    grid-template-rows: 30px 50px 30px 50px 70px;
}
.register-body{
    grid-template-rows: 30px 50px 30px 50px 30px 50px 70px;
}
.hide{
    display: none;
}

.login-body input,
.register-body input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.register-body button,
.login-body button{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.close{
    justify-self: end;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.popup-nav{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
}
.popup-nav-button{
    border:none;
    background-color: transparent;
    font-size: 18px;
    padding-bottom: 5px;
    cursor: pointer;
}
.nav-active{
    border-bottom: 2px solid black;
    font-weight: bold;
}

.product-card {
    /* background: white; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content:center;
    padding: 1rem 0;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.product-card a {
    text-decoration: none;
    color: inherit;
    display: block;

}

.product-card img {
    width: 100%;
    height:80%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

.product-card h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.3rem;
    color: #1a1a2e;
}

.product-card p {
    color: #e94560;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.search-result{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(4, 300px);
    gap: 2rem;
    padding: 3rem 2rem;
    max-width: 1400px;
    /* height: 70vh; */
    margin: 0 auto;
    justify-content: center;
}